<nav class="navbar bg-light">
    <div class="container-fluid">
      <span class="navbar-brand mb-0 h1">{{title}}</span>
    </div>
  </nav>
  
  <div class="container mt-5">
    
    <div class="row justify-content-center">
      <div class="card">
        <div class="card-body">
          <div class="mb-3">
            <label for="exampleInputEmail1" class="form-label">Email</label>
            <input type="email" [(ngModel)]="user.email" class="form-control login" id="exampleInputEmail1">
          </div>
          <div class="mb-3">
            <label for="exampleInputPassword1" class="form-label">Senha</label>
            <input type="password" [(ngModel)]="user.password" class="form-control login" id="exampleInputPassword1">
          </div>
          <div class="card-footer">
            <button type="submit" class="btn btn-primary" (click)="login()">Login</button>
          </div>
        </div>
      </div>

    <div *ngIf="!isAuth"class="row justify-content-center">
        {{invalidUserMessage}}
    </div>
</div>