<app-header></app-header>
<div class ="container">
    <div class="row mt-5">
        <div class="form-group">
            <label for="exampleFormControlSelect1">Estado</label>
            <select class="form-control" id="exampleFormControlSelect1">
              <option *ngFor="let uf of ufs">{{uf}}</option>
            </select>
          </div>
    </div>

    <div class="row mt-2">
        <div class="form-group">
            <label for='exampleInputName' class='form-label'>Nome</label>
            <input type='text' class='form-control' id='exampleInputName' [(ngModel)]='person.name'>
          </div>
    </div>
    <div class="row mt-2">
        <div class="form-group">
            <label for='exampleInputCpf' class='form-label'>CPF</label>
            <input type='text' class='form-control' id='exampleInputCpf' [(ngModel)]='person.cpf'>
          </div>
    </div>
    <div class="row mt-2">
        <div class="form-group">
            <label for='exampleInputCity' class='form-label'>Cidade</label>
            <input type='text' class='form-control' id='exampleInputCity' [(ngModel)]='person.city'>
          </div>
    </div>
    <div class="row mt-2">
        <div class="col-4"></div>
        <div class='col-2 mt-3'>
            <button class='btn btn-primary' (click)='back()' routerLink="/cadastramento">Voltar</button>
        </div>
        <div class='col-2 mt-3'>
            <button class='btn btn-primary' (click)='save()'>Salvar</button>
        </div>
        <div class="col-4"></div>
    </div>

</div>
