<app-header></app-header>

<div class='container'>
  <app-filter-by-name-and-cpf (filterByNameAndCpf)="onFilterByNameAndCpf($event)" (all)="onGetAll($event)"></app-filter-by-name-and-cpf>
  <table class='table'>
      <thead class='list'>
        <tr>
          <th scope='col'>ID</th>
          <th scope='col'>Nome</th>
          <th scope='col'>CPF</th>
          <th scope='col'>Cidade</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor='let person of persons'>
          <th scope='row'>{{person.id}}</th>
          <td>{{person.name}}</td>
          <td>{{person.cpf}}</td>
          <td>{{person.city}}</td>
        </tr>
      </tbody>
    </table>
    <button class='btn btn-primary' routerLink="/cadastramento">Voltar</button>
  </div>
